build
demo/platforms/ios/DemoApp.xcworkspace/xcuserdata
demo/platforms/ios/DemoApp.xcodeproj/xcuserdata
demo/platforms/ios/DemoApp.xcodeproj/project.xcworkspace
demo/platforms/ios/Pods
demo/platforms/ios/Podfile.lock
demo/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata