<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jumio-mobilesdk" version="2.12.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JumioMobileSDK</name>
    <js-module name="JumioMobileSDK" src="www/JumioMobileSDK.js">
        <clobbers target="Jumio" />
    </js-module>

    <dependency id="cordova-plugin-cocoapod-support" />

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JumioMobileSDK">
                <param name="ios-package" value="JumioMobileSDK" />
            </feature>
        </config-file>
        <header-file src="src/ios/JumioMobileSDK.h" />
        <source-file src="src/ios/JumioMobileSDK.m" />
        
        <preference name="CAMERA_USAGE_DESCRIPTION" default="This will allow ${PRODUCT_NAME} to take photos of your credentials."/>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        
        <pods-config ios-min-version="9.0" use-frameworks="true">
            <source url="https://github.com/CocoaPods/Specs.git" />
        </pods-config>
        <pod name="JumioMobileSDK" version="2.12.0" configurations="release,debug" />
    </platform>
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.jumio.bam.BamActivity"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:hardwareAccelerated="true"
                android:theme="@style/Theme.Bam" />
            <activity
                android:name="com.jumio.nv.NetverifyActivity"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:hardwareAccelerated="true"
                android:theme="@style/Theme.Netverify"/>
            <activity
                android:name="com.jumio.dv.DocumentVerificationActivity"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:hardwareAccelerated="true"
                android:theme="@style/Theme.DocumentVerification"/>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="JumioMobileSDK">
                <param name="android-package"
                value="com.jumio.mobilesdk.JumioMobileSDK"/>
            </feature>
        </config-file>
        <proguard-config>
            -keep class com.jumio.** { *; }
			-keep class jumio.** { *; }
			-keep class com.samsung.** { *; }
			-keep class com.samsung.**$* { *; }
			-keep class com.microblink.** { *; }
			-keep class com.microblink.**$* { *; }

			-keep class net.sf.scuba.smartcards.IsoDepCardService {*;}
			-keep class org.jmrtd.** { *; }
			-keep class net.sf.scuba.** {*;}
			-keep class org.spongycastle.** {*;}
			-keep class org.ejbca.** {*;}

			-dontwarn java.nio.**
			-dontwarn org.codehaus.**
			-dontwarn org.ejbca.**
			-dontwarn org.spongycastle.**
			-dontwarn com.samsung.**
			-dontwarn com.microblink.**
        </proguard-config>
        <source-file src="src/android/JumioMobileSDK.java" target-dir="src/com/jumio/mobilesdk" />
    </platform>
</plugin>
